<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-beta.1.css" type="text/css">
  <link rel="stylesheet" href="changedCSS.css" type="text/css">
  <script src="/src/jquery-3.2.1.min.js"></script>
  <script src="/src/codice.fiscale.js"></script>
  <script src="/src/utility.js"></script>
</head>

<body onload="clearForm('Registration_form');">
  <nav class="navbar navbar-expand-md bg-primary navbar-dark">
    <div class="container">
      <a class="navbar-brand" href=""><i class="fa d-inline fa-lg fa-briefcase"></i><b>&nbsp;FAHM<br></b></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false"
        aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      <div class="collapse navbar-collapse text-center justify-content-end" id="navbar2SupportedContent">
        <ul class="navbar-nav"></ul>
        <a class="btn navbar-btn ml-2 text-white btn-secondary" href="/"><i class="fa d-inline fa-lg fa-external-link-square"></i>&nbsp;Back to homepage</a>
      </div>
    </div>
  </nav>
  <div class="py-5 bg-white">
    <div class="container">
      <div class="row">
        <h1 class="text-danger"> 404</h1>
      </div>
      <div class="row">
        <h3 class="text-secondary">Page not found!</h3>
      </div>
    </div>
  </div>
  <div class="py-5 text-white bg-white">
    <div class="container">
      <div class="row">
        <div class="col-md-9"> </div>
        <div class="col-4 col-md-1 align-self-center"> </div>
        <div class="col-4 col-md-1 align-self-center"> </div>
        <div class="col-4 col-md-1 align-self-center"> </div>
      </div>
      <div class="row">
        <div class="col-md-6 mt-3 text-center">
          <img class="img-fluid d-block my-1 mx-auto py-3" src="Logo.jpg"> </div>
        <div class="col-md-6 mt-3 text-center bg-white">
          <p class="lead text-center text-dark my-5" style="font-size:160%;"><b class="">More results with faster consultations.</b></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 mt-3 text-center"> </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p class="my-4 text-dark text-center" style="font-size:160%;"><b class="">Fast Alert Health Monitoring</b></p>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-4 bg-white"><i class="fa fa-fw fa-3x fa-heartbeat text-center text-dark mx-5 py-4"></i></div>
            <div class="col-md-4 bg-white"><i class="fa fa-fw fa-3x fa-user-md mx-5 text-dark py-4"></i></div>
            <div class="col-md-4 bg-white"><i class="fa fa-fw fa-3x fa-universal-access mx-5 text-dark py-4"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</body>

</html>